<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1 style=" -webkit-text-stroke: 1px white; text-stroke: 1px white;">UMA PÁGINA WEB COM ANGULAR PARA SEU NEGÓCIO</h1>
              <h2>NOMAR É UM MODELO DE PAGINA WEB COM ANGULAR, PARA SEU EMPREENDIMENTO.</h2>
          </div>

          <!--Call to Action-->
          <a href="#" class="button">COMECE HOJE</a>
          <!--End Call to Action-->

      </div>

  </div><!--End of Row-->
</header>
