<div id="header" class="nav-collapse">
  <div class="row clearfix">
      <div class="col-1">

          <!--Logo-->
          <div id="logo">

              <!--Logo that is shown on the banner-->
              <img src="../assets/images/logo.png" id="banner-logo" alt="Landing Page"/>
              <!--End of Banner Logo-->

              <!--The Logo that is shown on the sticky Navigation Bar-->
              <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>
              <!--End of Navigation Logo-->

          </div>
          <!--End of Logo-->

          <aside>

              <!--Social Icons in Header-->
              <ul class="social-icons">
                  <li>
                      <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/euramondiaz/">
                          <i class="fa fa-linkedin fa-1x"></i><span>Linkedin</span>
                      </a>
                  </li>
                  <li>
                    <a target="_blank" title="github" href="https://github.com/euramondiaz?tab=repositories">
                        <i class="fa fa-github fa-1x"></i><span>Github</span>
                    </a>
                </li>
                  <li>
                      <a target="_blank" title="Instagram" href="https://www.instagram.com/eu.ramondiaz/">
                          <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                      </a>
                  </li>

              </ul>
              <!--End of Social Icons in Header-->

          </aside>

          <!--Main Navigation-->
          <nav id="nav-main">
              <ul>
                  <li>
                      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">INICIO</a>
                  </li>
                  <li>
                      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">SOBRE</a>
                  </li>
                  <li>
                      <a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">GALERIA</a>
                  </li>
                  <li>
                      <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">SERVIÇOS</a>
                  </li>
                  <li>
                      <a routerLink="/testimonials" routerLinkActive="active" ariaCurrentWhenActive="page">DEPOIMENTOS</a>
                  </li>
                  <li>
                      <a routerLink="/clients" routerLinkActive="active" ariaCurrentWhenActive="page">CLIENTES</a>
                  </li>
                  <li>
                      <a routerLink="/pricing" routerLinkActive="active" ariaCurrentWhenActive="page">PLANOS</a>
                  </li>
              </ul>
          </nav>
          <!--End of Main Navigation-->

          <div id="nav-trigger"><span></span></div>
          <nav id="nav-mobile"></nav>

      </div>
  </div>
</div><!--End of Header-->
